#headphone_hover {
  top: -260px;
}
#tbvp {
  top: -80px;
}
#lkmt {
  top: -140px;
}
#pcgg {
  top: -201px;
}
#gaming {
  top: -326px;
}
#hat {
  top: -388px;
}
#tivi {
  top: -450px;
}
#cam {
  top: -512px;
}
